* {
    box-sizing: border-box;
}
body {
    font-family: Gill Sans Extrabold, sans-serif;
    margin: 0;
}

header {
    padding: 100px;
    text-align: left;
    background: #ffff;
    color: black;
}

/* Increase the font size of the h1 element */
header h1 {
    font-size: 60px;
}
